html, body {
  color: #666;
}

.Register {
  margin: auto;
  width: 60%;
  padding: 30px 0;
}

@media (max-width: 1200px) {
  .Register {
    width: 75%;
  }
}

@media (max-width: 900px) {
  .Register {
    width: 90%;
  }
}

.Register .logo {
  width: 40%;
  margin: auto;
  padding: 50px 0;
}

@media (max-width: 900px) {
  .Register .logo {
    width: 70%;
  }
}

.Register .logo img {
  width: 100%;
}

.Register .register-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .Register .register-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.Register .register-box .left {
  width: 60%;
}

@media (max-width: 900px) {
  .Register .register-box .left {
    width: 100%;
    margin: auto;
  }
}

.Register .register-box .left select {
  width: 48%;
  padding: 17.5px;
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.Register .register-box .left input[type='file'] {
  display: none;
}

.Register .register-box .left .file-input {
  width: 43%;
  padding: 15px;
  cursor: pointer;
  border: 1px solid #bbb;
  border-radius: 5px;
}

.Register .register-box .right {
  width: 35%;
  border: 1px solid #ddd;
  border-radius: 7.5px;
  height: 450px;
}

@media (max-width: 900px) {
  .Register .register-box .right {
    width: 100%;
    margin: auto;
  }
}

.Register .register-box .right h3 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.Register .register-box .right .lines {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.Register .register-box .right .lines hr {
  border: 0.25px solid #eee;
}

.Register .register-box .right .lines .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Register .register-box .right .lines .line span {
  padding: 5px;
}

.Register .register-box .right .lines .line .bold {
  font-weight: bolder;
}

.Register .register-box .right .payment-options {
  width: 80%;
  margin: auto;
}

.Register .side {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header p {
  text-align: center;
  color: #aaa;
  font-size: 20px;
}

.Login {
  width: 30%;
  margin: auto;
  padding: 50px 0 150px 0;
}

@media (max-width: 1200px) {
  .Login {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .Login {
    width: 80%;
  }
}

.Login .login-box {
  padding: 15px 50px;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .Login .login-box {
    padding: 0;
    border: none;
  }
}

.Login .login-box .login-logo {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.Login .login-box .login-logo img {
  width: 100%;
}

.Login .login-box .header p {
  text-align: center;
  color: #aaa;
  font-size: 20px;
}

.Login .login-box p {
  color: #666;
  padding: 10px 0;
}

.Login .login-box .right {
  text-align: right;
  font-size: 15px;
  padding: 0;
}
/*# sourceMappingURL=auth.css.map */