.footerr_wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #001c30;
  padding: 30px 0 0 0;
  background-image: url(../images/footer.png);
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-background-size: auto 100%;
          background-size: auto 100%;
  font-family: 'Roboto', sans-serif;
}

.footerr_wrapper p {
  margin: 0px 0px 0px;
}

.footerr_wrapper .footerr {
  padding: 10px;
  padding-bottom: 20px;
  width: 85%;
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media (max-width: 1500px) {
  .footerr_wrapper .footerr {
    width: 95%;
  }
}

@media (max-width: 1350px) {
  .footerr_wrapper .footerr {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .footerr_wrapper .footerr {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 750px) {
  .footerr_wrapper .footerr {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footerr_wrapper .footerr .footer_flex_child {
  margin-bottom: 30px;
  width: 32%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1000px) {
  .footerr_wrapper .footerr .footer_flex_child {
    width: 48%;
  }
}

@media (max-width: 750px) {
  .footerr_wrapper .footerr .footer_flex_child {
    width: 90%;
  }
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_header {
  margin-bottom: 30px;
  margin-top: 10px;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_header p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_header:after {
  position: absolute;
  content: '';
  display: block;
  height: 3.75px;
  width: 70px;
  margin-top: 5px;
  background: #00adef;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child .flex_single_child_icon span {
  padding: 3px 10px 10px 10px;
  margin-top: 10px;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child .flex_single_child_info {
  padding: 10px 5px 5px 5px;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child .flex_single_child_info .info_heading {
  margin-bottom: 5px;
  font-weight: 600;
  position: relative;
}

.footerr_wrapper .footerr .footer_flex_child .flex_child_info .flex_single_child .flex_single_child_info .info_details {
  margin-bottom: 0px;
  color: #a3b7c6;
}

.footerr_wrapper .fourIcons {
  margin-bottom: 2.6rem;
}

.footerr_wrapper .fourIcons a {
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
  background: transparent;
  color: #00adef;
  border: 1px solid #00adef;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

.footerr_wrapper .fourIcons a:hover {
  background: #00adef;
  color: white;
}

.footerr_wrapper .fourIcons .fa-facebook,
.footerr_wrapper .fourIcons .fa-linkedin {
  padding: 8px 10px;
}

.footerr_wrapper .inputBox input {
  padding: 10px;
  width: 50%;
  margin: 0;
  height: 100%;
}

.footerr_wrapper .inputBox button {
  padding: 18px;
  padding-top: 11px;
  padding-bottom: 11.55px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background: #13ce66;
  border-radius: 0 2px 2px 0;
}

.footerr_wrapper .google_map_location iframe {
  width: 85%;
  height: 200px;
}

.copyright {
  font-family: 'Open sans', sans-serif;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  line-height: 160%;
  padding: 1.5rem;
  padding-top: 1.9rem;
  padding-bottom: 1.8rem;
  color: #d8d8d8;
}

.copyright p:first-child {
  font-size: 1.5rem;
  letter-spacing: .5px;
  padding-bottom: 1.25rem;
  font-weight: 600;
}

.copyright p:last-child {
  font-size: 1.35rem;
  font-weight: 600;
}

.copyright p:last-child a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: 1.38rem;
  font-weight: 700;
}

.copyright p:last-child a:hover {
  text-decoration: underline;
  cursor: pointer;
}
