*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-weight: 400;
  line-height: 1.6;
}

li {
  list-style: none;
}

button:focus {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

.Home__navbar {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.Home__navbar .Home__banner_text {
  padding: 10rem;
  padding-top: 16vh;
  text-align: center;
  color: white;
}

.Home__navbar .Home__banner_text-primary h1 {
  font-size: 9rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.4px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.Home__navbar .Home__banner_text-secondary h3 {
  font-size: 4.4rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  padding-bottom: 3.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Roboto', sans-serif;
}

.Home__banner_countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Home__banner_countdown > div {
  height: 16rem;
  width: 16rem;
  margin: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  font-size: 3.4rem;
  font-family: 'Roboto';
}

.Home__banner_countdown > div > p:last-child {
  font-size: 1.75rem;
}

.Home__banner_countdown > div:nth-child(1) {
  border-top: 7px solid #311d3f;
  border-bottom: 7px solid #311d3f;
  border-left: 7px solid #311d3f;
  border-right: 7px solid #311d3f;
}

.Home__banner_countdown > div:nth-child(2) {
  border-right: 7px solid #311d3f;
  border-top: 7px solid #311d3f;
  border-bottom: 7px solid #311d3f;
  border-left: 7px solid #311d3f;
}

.Home__banner_countdown > div:nth-child(3) {
  border-top: 7px solid #311d3f;
  border-bottom: 7px solid #311d3f;
  border-left: 7px solid #311d3f;
  border-right: 7px solid #311d3f;
}

.Home__banner_countdown > div:nth-child(4) {
  border-right: 7px solid #311d3f;
  border-top: 7px solid #311d3f;
  border-bottom: 7px solid #311d3f;
  border-left: 7px solid #311d3f;
}
/*# sourceMappingURL=home.css.map */