*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-weight: 400;
  line-height: 1.6;
}

li {
  list-style: none;
}

button:focus {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

button:active {
  -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
       -o-transform: translateY(3px);
          transform: translateY(3px);
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

.text-center {
  text-align: center;
}

.Home__navbar {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/icpc_img1.jpg);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/icpc_img1.jpg);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/icpc_img1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/icpc_img1.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}

.Home__navbar .Home__banner_text {
  padding: 10rem;
  padding-top: 16vh;
  text-align: center;
  color: white;
}

.Home__navbar .Home__banner_text-primary h1 {
  font-size: 9rem;
  padding-bottom: 0.5rem;
  letter-spacing: 0.4px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.Home__navbar .Home__banner_text-secondary h3 {
  font-size: 4.4rem;
  letter-spacing: 1.5px;
  font-weight: 400;
  padding-bottom: 3.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Roboto', sans-serif;
}

.Home__banner_countdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Home__banner_countdown > div {
  height: 16rem;
  width: 16rem;
  margin: 0.5rem 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  /* fallback for old browsers */
  color: #333;
  font-size: 3.6rem;
  font-family: 'Roboto';
  font-weight: bold;
  border: 6px solid #0f3057;
}

.Home__banner_countdown > div > p:last-child {
  font-size: 1.75rem;
  font-weight: normal;
}

.sponsor {
  padding-bottom: 3rem;
}

.sponsor__heading {
  padding-top: 2rem;
  padding-bottom: 2.1rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sponsor__heading h2 {
  font-family: 'Libre Franklin', sans-serif;
  padding: 1.5rem 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 5.1rem;
  color: #0c3970;
  display: inline-block;
  position: relative;
}

@media (max-width: 750px) {
  .sponsor__heading h2 {
    font-size: 4rem;
    padding: 0.8rem 0.2rem 2.2rem 0.2rem;
  }
}

.sponsor__heading h2:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0 auto;
  width: 43%;
  height: 6px;
  background: #0c3970;
  border-radius: 100px;
}

.sponsors {
  max-width: 95rem;
  margin: 1rem auto;
  padding: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.sponsors .sponsor_img {
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media (max-width: 750px) {
  .sponsors .sponsor_img {
    width: 25%;
  }
}

@media (max-width: 500px) {
  .sponsors .sponsor_img {
    width: 33%;
  }
}

.sponsors .sponsor_img img {
  width: 80%;
  height: auto;
  margin-bottom: 1.5rem;
}

.sponsors .sponsor_img img:not(:first-child) {
  margin-left: 1rem;
}

@media (max-width: 772px) {
  .Home__navbar .Home__banner_text {
    padding: 2rem;
    padding-top: 8vh;
    padding-bottom: 8vh;
  }
  .Home__navbar .Home__banner_text-primary h1 {
    font-size: 6rem;
    padding-bottom: 1rem;
    letter-spacing: 0px;
  }
  .Home__navbar .Home__banner_text-secondary h3 {
    font-size: 3.5rem;
    letter-spacing: 1px;
  }
  .Home__banner_countdown > div {
    height: 12rem;
    width: 12rem;
    margin: 0.5rem 1rem;
    border: 4px solid #0f3057;
    border-radius: 0;
    font-size: 2.5rem;
  }
  .Home__banner_countdown > div > p:last-child {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .Home__navbar .Home__banner_text {
    padding: 2rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .Home__banner_countdown > div {
    margin: 0.5rem 0.4rem;
    border-radius: 10px;
  }
}

.importantInfosWrappers {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/importantLinks.jpg);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/importantLinks.jpg);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/importantLinks.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/importantLinks.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed;
  padding: 3rem 1rem;
}

.imp_dates .each_imp_dates {
  border-bottom: 1px solid #999;
  margin-bottom: 1rem;
}

.imp_dates .each_imp_dates p {
  padding-bottom: 0.5rem;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 2px;
}

.imp_dates .each_imp_dates p:hover {
  font-weight: 400;
}

.imp_dates .each_imp_dates p:first-child {
  font-weight: 400;
  font-size: 1.6rem;
  color: #333;
}

.imp_dates .each_imp_dates p:last-child {
  font-size: 1.4rem;
  color: #555;
  padding-bottom: 6px;
}

.important_infos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 2.5rem 0.5rem;
}

.important_infos .flex_child {
  width: 290px;
  background: white;
  -webkit-box-shadow: rgba(19, 15, 235, 0.164) 3px 6px 15px 0px;
          box-shadow: rgba(19, 15, 235, 0.164) 3px 6px 15px 0px;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
}

.important_infos .flex_child_header {
  text-align: center;
  padding: 16px 30px 10px 30px;
}

.important_infos .flex_child_header p {
  font-size: 22px;
  letter-spacing: 0.2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bolder;
}

.important_infos .flex_child_list {
  padding: 12px 25px 25px 25px;
  min-height: 235px;
}

.important_infos .flex_child_list a {
  display: block;
  text-decoration: none;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  color: #333;
  font-weight: 300;
  border-bottom: 1px solid #999;
  margin-bottom: 0.7rem;
}

.important_infos .flex_child_list a:hover {
  font-weight: 400;
}

.organizer {
  padding: 0rem 1rem 6rem 1rem;
  width: 80%;
  margin: auto;
  min-height: 600px;
}

.organizer_header {
  padding-top: 2rem;
  padding-bottom: 2.1rem;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.organizer_header h2 {
  font-family: 'Libre Franklin', sans-serif;
  padding: 1rem 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 5.1rem;
  color: #0c3970;
  display: inline-block;
  position: relative;
}

@media (max-width: 750px) {
  .organizer_header h2 {
    font-size: 4rem;
    padding: 0.8rem 0.2rem 2.2rem 0.2rem;
  }
}

.organizer_info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
}

.organizer_info_left {
  width: 60%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
  margin: 1rem 0rem 1rem 1rem;
}

.organizer_info_left_header {
  padding-bottom: 1rem;
}

.organizer_info_left_header h3 {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  color: #575757;
  letter-spacing: 1px;
}

.organizer_info_left_info {
  width: 85%;
  text-align: justify;
}

.organizer_info_left_info p {
  padding-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  font-size: 1.5rem;
}

.organizer_info_left_see_more {
  margin-top: 1.3rem;
}

.organizer_info_left_see_more a {
  font-size: 1.6rem;
  color: #0f4a92;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #0c3970;
  padding: 3px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.organizer_info_left_see_more a:hover {
  background-color: #0c3970;
  color: #fff;
}

.organizer_info_right {
  width: 40%;
  position: relative;
  margin-top: 1rem;
}

.organizer_info_right img {
  position: absolute;
  border-radius: 2px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 10;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  outline-offset: 2rem;
  cursor: pointer;
}

.organizer_info_right img:hover {
  outline: 1.5rem solid #0c3970;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.organizer_info_right img.i1 {
  left: 0;
  top: -2rem;
}

.organizer_info_right img.i2 {
  right: 0;
  top: 2rem;
}

.organizer_info_right img.i3 {
  left: 20%;
  top: 10rem;
}
