@import '_main';

.Register {
  margin: auto;
  width: 60%;
  padding: 30px 0;

  @media (max-width: 1200px) {
    width: 75%;
  }
  @media (max-width: 900px) {
    width: 90%;
  }
  .logo {
    width: 40%;
    margin: auto;
    padding: 50px 0;
    @media (max-width: 900px) {
      width: 70%;
    }
    img {
      width: 100%;
    }
  }
  .register-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @media (max-width: 900px) {
      flex-direction: column;
    }
    .colum {
      // display: flex;
    }
    .left {
      width: 60%;
      @media (max-width: 900px) {
        width: 100%;
        margin: auto;
      }
      select {
        width: 48%;
        padding: 15px;
        border: 1px solid #bbb;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;
      }
      input[type='file'] {
        display: none;
      }
      .file-input {
        width: 48%;
        padding: 15px;
        cursor: pointer;
        border: 1px solid #bbb;
        border-radius: 5px;
      }
    }
    .right {
      width: 35%;
      border: 1px solid #ddd;
      border-radius: 7.5px;
      height: 450px;
      @media (max-width: 900px) {
        width: 100%;
        margin: auto;
        margin-top: 30px;
      }
      h3 {
        width: 80%;
        margin: auto;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
      }
      .lines {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        hr {
          border: 0.25px solid #eee;
        }
        .line {
          display: flex;
          justify-content: space-between;
          span {
            padding: 5px;
          }
          .bold {
            font-weight: bolder;
          }
        }
      }
      .payment-options {
        width: 80%;
        margin: auto;
      }
    }
  }
  .side {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
}
.header {
  p {
    text-align: center;
    color: #aaa;
    font-size: 20px;
  }
}

.login_wrapper {
  min-height: 90vh;

  @media (min-width: 600px) {
    background: url(../images/25331.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (max-width: 600px) {
    background-color: white;
  }
}
.login {
  max-width: 55rem;
  margin: auto;
  padding-top: 5rem;
  margin-top: 6.5rem;

  @media (max-width: 600px) {
    padding-top: 0.5rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }

  .login_container {
    padding: 1.5rem 5rem;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 3.4rem;
    box-shadow: 2px 5px 10px gray;

    @media (max-width: 600px) {
      padding: 0.8rem 2rem;
      box-shadow: none;
    }

    .login_logo {
      width: 50%;
      margin: auto;
      padding: 10px;
      user-select: none;
      img {
        width: 100%;
      }
    }
    .login_header {
      user-select: none;
      p {
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 1.7rem;
        font-size: 2.5rem;
        color: #646464;
      }
    }
    p {
      color: #666;
      padding: 10px 0;
    }
    .login_forget_password {
      text-align: right;
      font-size: 15px;
      padding: 0;
    }
  }
}
