@import '_main';
@import '_mixin';

.contact {
  @include VectorArt;

  &__nav {
  }

  &__header {
    margin-top: 3.6rem;
    text-align: center;
    user-select: none;
    h1 {
      font-family: 'Libre Franklin', sans-serif;
      padding: 1.5rem 0.5rem 1.2rem 0.5rem;
      text-align: center;
      font-weight: 600;
      font-size: 5.5rem;
      color: #0c3970;

      @media (max-width: 750px) {
        font-size: 4rem;
        padding: 0.8rem 0.2rem 2.2rem 0.2rem;
      }
    }
  }
}

.contactUsForm {
  max-width: 1100px;
  margin: 2rem auto 5rem auto;
  font-family: 'Open Sans';

  &_flx {
    background: white;
    display: flex;
    @media (max-width: 650px) {
      flex-direction: column-reverse;
    }
    // @media (max-width: 650px) {
    // height: 500px;
    // }
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);

    &_form {
      width: 50%;
      padding-bottom: 20px;
      @media (max-width: 650px) {
        width: 100%;
      }
      padding: 5rem;
      @media (max-width: 950px) {
        padding: 5rem 2rem;
      }
      border-radius: 10px 0 0 10px;
      form {
        button {
          margin-top: 10px;
          padding: 1.1rem 2.5rem;
          font-weight: 700;
          font-size: 2.2rem;
          border: none;
          outline: none;
          background: linear-gradient(to right, #7ed56f, #28b485);
          color: white;
          // border: 1px solid #90db83;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            cursor: pointer;
          }

          &:active,
          &:focus,
          &:visited {
            outline: none;
            border: none;
          }
        }
        .textbox,
        .textarea {
          margin-bottom: 1.5rem;
          padding-bottom: 0.5rem;
          label {
            font-size: 2rem;
            letter-spacing: 0.5px;
            color: #0fa06f;
            margin-bottom: 6px;
            font-weight: 700;
          }

          textarea {
            resize: none;
          }
          input::placeholder {
            font-size: 1.6rem;
            color: #bbbbbb;
            font-family: 'Open Sans';
          }

          textarea::placeholder {
            font-size: 1.6rem;
            color: #bbbbbb;
            font-family: 'Open Sans';
          }

          input,
          textarea {
            background-color: inherit;
            margin-top: 0.7rem;
            width: 95%;
            font-size: 1.8rem;
            padding: 5px 10px 5px 3px;
            border: none;
            border-bottom: 2px solid #ccc;
            transition: border-bottom 0.25s ease;
            color: rgb(68, 68, 68);
            font-family: 'Roboto', sans-serif;

            &:focus,
            &:active {
              border: none;
              outline: none;
              border-bottom: 2px solid #28b485;
            }
          }
        }
      }
    }

    &_contact {
      width: 50%;
      padding: 4rem 5.3rem;
      @media (max-width: 950px) {
        padding: 4rem 2.5rem;
      }
      background-image: linear-gradient(to left, #7ed56f, #28b485);
      border-radius: 0 10px 10px 0;
      @media (max-width: 650px) {
        width: 100%;
        border-radius: 10px 10px 10px 10px;
      }

      color: white;
      font-size: 1.9rem;

      &_header {
        margin-bottom: 3rem;
        p {
          font-size: 3rem;
          font-weight: 700;
          letter-spacing: 0.5px;
        }
      }
      &_info {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        &_icon {
          margin-right: 1.5rem;
          font-size: 2.4rem;
          display: flex;
          align-items: flex-start;
          padding-top: 2px;
          span {
            width: 2.5rem;
          }
        }

        &_des {
          align-self: flex-end;
          padding-left: 5px;
          p {
            line-height: 1.7;
          }
        }
      }
    }
  }
}

.contactUsForm_flx_contact_info_des_phone {
  max-width: 300px;
}

.faq_container {
  max-width: 1100px;
  margin: 2rem auto 5rem auto;
  font-family: 'Open Sans';
}

.iconStyle {
  color: #7ed56f;
  font-size: 30px;
  padding-right: 12px;
}

.optionContainer {
  background-color: inherit;
  margin-top: 0.7rem;
  width: 95%;
  font-size: 1.8rem;
  padding: 5px 10px 5px 3px;
  border: none;
  border-bottom: 2px solid #ccc;
  appearance: none;
  color: rgb(68, 68, 68);
  font-family: 'Roboto', sans-serif;
  &:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #ccc;
  }

  option {
    color: rgb(68, 68, 68);
    font-size: 17.5px;
    &:disabled {
      background: #c9c9c9;
      color: #8d8d8d;
    }
  }
}


/* -- Admin Emails -- */

.EmailBox {
  padding: 50px;
  @media (max-width: 600px) {
    padding: 20px;
  }
  .EmailPalette {
    background: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px #ccc;

    @media (max-width: 1350px) {
      width: 70%;
    }

    @media (max-width: 900px) {
      width: 95%;
    }

    .auto-suggest {
      padding: 15px;
      cursor: pointer;
              background-color: #fff;
              width: 100%;
              font-size: 18px;
              border: 1px solid #ccc;
              border-radius: 10px;
              @media (max-width: 600px) {
                padding: 10px;
                font-size: 13.5px;
              }
    }

    .EmailContents {
      width: 70%;
      margin: auto;
      padding-top: 10px;
      padding-bottom: 50px;
      @media (max-width: 600px) {
        width: 100%;
      }
      .flex-parent {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 600px) {
          flex-direction: column;
          margin: auto;
          margin-top: 20px;
        }
        .flex-child {
          width: 40%;
          @media (max-width: 600px) {
            margin: auto;
            width: 90%;
            margin-top: 15px;
          }
          .title {
            h3 {
              font-size: 20px;
              color: #0fa06f;
              @media (max-width: 600px) {
                font-size: 15px;
              }
            }
          }

          .select-box {
            margin-top: 20px;
            @media (max-width: 600px) {
              margin-top: 10px;
            }
            select {
              padding: 15px;
              cursor: pointer;
              background-color: #fff;
              width: 100%;
              font-size: 18px;
              border: 1px solid #ccc;
              border-radius: 10px;
              @media (max-width: 600px) {
                padding: 10px;
                font-size: 13.5px;
              }
            }
          }
        }
      }

      .single-parent {
        width: 100%;
        @media (max-width: 600px) {
          width: 90%;
          margin: auto;
        }
        .single-child {
          margin-top: 40px;
          .title {
            h3 {
              font-size: 20px;
              color: #0fa06f;
            }
          }
          .text-box {
            .TextField {
              width: 100%;
            }
            textarea {
              width: 100%;
              padding: 10px;
              background-color: #fff;
              border-radius: 5px;
              border: 1px solid #ccc;
            }
          }
        }
      }

      button {
        margin-top: 10px;
        padding: 1.1rem 2.5rem;
        font-weight: 700;
        font-size: 2.2rem;
        border: none;
        outline: none;
        background: linear-gradient(to right, #7ed56f, #28b485);
        color: white;
        // border: 1px solid #90db83;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          cursor: pointer;
        }

        &:active,
        &:focus,
        &:visited {
          outline: none;
          border: none;
        }
      }
    }
  }
}