@import '_main';

.Home {
  &__navbar {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/icpc_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;

    .Home__banner_text {
      padding: 10rem;
      padding-top: 16vh;
      text-align: center;
      color: white;

      &-primary {
        h1 {
          font-size: 9rem;
          padding-bottom: 0.5rem;
          letter-spacing: 0.4px;
          font-weight: 400;
          user-select: none;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
        }
      }

      &-secondary {
        h3 {
          font-size: 4.4rem;
          letter-spacing: 1.5px;
          font-weight: 400;
          padding-bottom: 3.3rem;
          user-select: none;
          font-family: 'Roboto', sans-serif;

          span {
          }
        }
      }
    }
  }
}

.Home__banner_countdown {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  user-select: none;
  > div {
    height: 16rem;
    width: 16rem;
    margin: 0.5rem 2rem;

    display: flex;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    background: #fff; /* fallback for old browsers */

    color: #333;
    font-size: 3.6rem;
    font-family: 'Roboto';
    font-weight: bold;
    > p {
      &:last-child {
        font-size: 1.75rem;
        font-weight: normal;
      }
    }
    border: 6px solid #0f3057;
  }
}

.sponsor {
  padding-bottom: 3rem;
  &__heading {
    padding-top: 2rem;
    padding-bottom: 2.1rem;
    text-align: center;
    user-select: none;
    h2 {
      font-family: 'Libre Franklin', sans-serif;
      padding: 1.5rem 0.5rem;
      text-align: center;
      font-weight: 600;
      font-size: 5.1rem;
      color: #0c3970;
      display: inline-block;

      @media (max-width: 750px) {
        font-size: 4rem;
        padding: 0.8rem 0.2rem 2.2rem 0.2rem;
      }
      position: relative;
      &:after {
        content: '';
        position: absolute;

        left: 0;
        right: 0;
        top: 100%;
        margin: 0 auto;
        width: 43%;
        height: 6px;
        background: #0c3970;
        border-radius: 100px;
      }
    }
  }
}
.sponsors {
  max-width: 95rem;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .sponsor_img {
    width: 20%;

    @media (max-width: 750px) {
      width: 25%;
    }
    @media (max-width: 500px) {
      width: 33%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    img {
      width: 80%;
      height: auto;
      margin-bottom: 1.5rem;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}

@media (max-width: 772px) {
  .Home {
    &__navbar {
      .Home__banner_text {
        padding: 2rem;
        padding-top: 8vh;
        padding-bottom: 8vh;

        &-primary {
          h1 {
            font-size: 6rem;
            padding-bottom: 1rem;
            letter-spacing: 0px;
          }
        }

        &-secondary {
          h3 {
            font-size: 3.5rem;
            letter-spacing: 1px;
          }
        }
      }
    }
  }

  .Home__banner_countdown {
    > div {
      height: 12rem;
      width: 12rem;
      margin: 0.5rem 1rem;
      border: 4px solid #0f3057;

      border-radius: 0;
      font-size: 2.5rem;

      > p {
        &:last-child {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .Home {
    &__navbar {
      .Home__banner_text {
        padding: 2rem;
        padding-top: 5vh;
        padding-bottom: 5vh;

        &-primary {
          h1 {
          }
        }

        &-secondary {
          h3 {
          }
        }
      }
    }
  }

  .Home__banner_countdown {
    > div {
      margin: 0.5rem 0.4rem;
      border-radius: 10px;

      > p {
        &:last-child {
        }
      }
    }
  }
}

.importantInfosWrappers {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/importantLinks.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 3rem 1rem;
}

.imp_dates {
  .each_imp_dates {
    border-bottom: 1px solid #999;
    margin-bottom: 1rem;
    p {
      padding-bottom: 0.5rem;
      font-weight: 300;
      margin-bottom: 0;
      padding-bottom: 2px;
      &:hover {
        font-weight: 400;
      }

      &:first-child {
        font-weight: 400;
        font-size: 1.6rem;
        color: #333;
      }

      &:last-child {
        font-size: 1.4rem;
        color: #555;
        padding-bottom: 6px;
      }
    }
  }
}

.important_infos {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 2.5rem 0.5rem;
  .flex_child {
    width: 290px;

    background: rgb(255, 255, 255);
    box-shadow: rgba(19, 15, 235, 0.164) 3px 6px 15px 0px;
    // padding: 30px;
    position: relative;
    // border-top: 5px solid rgb(245, 23, 103);
    border-radius: 7px;
    cursor: pointer;

    &_header {
      text-align: center;
      padding: 16px 30px 10px 30px;
      p {
        font-size: 22px;
        letter-spacing: 0.2px;
        user-select: none;
        font-weight: bolder;
      }
    }

    &_list {
      padding: 12px 25px 25px 25px;
      min-height: 235px;
      a {
        display: block;
        text-decoration: none;
        padding-bottom: 0.5rem;
        font-size: 1.5rem;
        color: #333;
        font-weight: 300;

        border-bottom: 1px solid #999;
        margin-bottom: 0.7rem;

        &:hover {
          font-weight: 400;
        }
      }
    }
  }
}

.organizer {
  padding: 0rem 1rem 6rem 1rem;
  width: 80%;
  margin: auto;
  min-height: 600px;

  &_header {
    padding-top: 2rem;
    padding-bottom: 2.1rem;
    text-align: center;
    user-select: none;
    h2 {
      font-family: 'Libre Franklin', sans-serif;
      padding: 1rem 0.5rem;
      text-align: center;
      font-weight: 600;
      font-size: 5.1rem;
      color: #0c3970;
      display: inline-block;

      @media (max-width: 750px) {
        font-size: 4rem;
        padding: 0.8rem 0.2rem 2.2rem 0.2rem;
      }
      position: relative;
    }
  }

  &_info {
    display: flex;
    padding-top: 2rem;
    &_left {
      width: 60%;
      align-self: center;
      margin: 1rem 0rem 1rem 1rem;
      &_header {
        padding-bottom: 1rem;
        h3 {
          font-size: 3.2rem;
          font-weight: 700;
          text-transform: uppercase;
          font-family: 'Lato', sans-serif;
          line-height: 1.7;
          color: rgb(87, 87, 87);
          letter-spacing: 1px;
        }
      }
      &_info {
        width: 85%;
        text-align: justify;
        p {
          padding-bottom: 1rem;
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          line-height: 1.7;
          color: #777;
          font-size: 1.5rem;
        }
      }

      &_see_more {
        margin-top: 1.3rem;
        a {
          font-size: 1.6rem;
          color: #0f4a92;
          display: inline-block;
          text-decoration: none;
          border-bottom: 1px solid #0c3970;
          padding: 3px;
          -webkit-transition: all 0.2s;
          transition: all 0.2s;

          &:hover {
            background-color: #0c3970;
            color: #fff;
          }
        }
      }
    }

    &_right {
      width: 40%;
      position: relative;
      margin-top: 1rem;

      img {
        position: absolute;
        border-radius: 2px;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 2rem;
        cursor: pointer;


        &:hover {
          outline: 1.5rem solid #0c3970;
          transform: scale(1.05);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
          z-index: 20;
        }

        &.i1 {
          left: 0;
          top: -2rem;
        }

        &.i2 {
          right: 0;
          top: 2rem;
        }

        &.i3 {
          left: 20%;
          top: 10rem;
        }
      }
    }
  }
}
