@import '_main';

.Home {
  &__navbar {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/icpc_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    .Home__banner_text {
      padding: 10rem;
      padding-top: 16vh;
      text-align: center;
      color: white;

      &-primary {
        h1 {
          font-size: 9rem;
          padding-bottom: 0.5rem;
          letter-spacing: 0.4px;
          font-weight: 400;
          user-select: none;
          text-transform: uppercase;
          font-family: 'Roboto', sans-serif;
        }
      }

      &-secondary {
        h3 {
          font-size: 4.4rem;
          letter-spacing: 1.5px;
          font-weight: 400;
          padding-bottom: 3.3rem;
          user-select: none;
          font-family: 'Roboto', sans-serif;

          span {
          }
        }
      }
    }
  }
}

.Home__banner_countdown {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  user-select: none;
  > div {
    height: 16rem;
    width: 16rem;
    margin: 0.5rem 2rem;

    display: flex;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    background: #fff; /* fallback for old browsers */

    color: #333;
    font-size: 3.6rem;
    font-family: 'Roboto';
    font-weight: bold;
    > p {
      &:last-child {
        font-size: 1.75rem;
        font-weight: normal;
      }
    }
    border: 6px solid #0f3057;
  }
}

.sponsor {
  padding-bottom: 3rem;
  &__heading {
    padding-top: 2rem;
    padding-bottom: 2.1rem;
    text-align: center;
    user-select: none;
    h2 {
      font-family: 'Libre Franklin', sans-serif;
      padding: 1.5rem 0.5rem;
      text-align: center;
      font-weight: 600;
      font-size: 5.1rem;
      color: #0c3970;
      display: inline-block;

      @media (max-width: 750px) {
        font-size: 4rem;
        padding: 0.8rem 0.2rem 2.2rem 0.2rem;
      }
      position: relative;
      &:after {
        content: '';
        position: absolute;

        left: 0;
        right: 0;
        top: 100%;
        margin: 0 auto;
        width: 43%;
        height: 6px;
        background: #0c3970;
        border-radius: 100px;
      }
    }
  }
}
.sponsors {
  max-width: 95rem;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .sponsor_img {
    width: 20%;

    @media(max-width: 750px) {
      width: 25%;
    }
    @media(max-width: 500px) {
      width: 33%;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    img {
      width: 80%;
      height: auto;
      margin-bottom: 1.5rem;
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
}
