@import '_main';
@import '_mixin';

.profile {
  @include VectorArt;

  &__wrapper {
    width: 75%;
    margin: auto;
    padding: 5rem 0;

    .flex_parent {
      width: 100%;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      overflow: hidden;
      background: white;

      .flex_child:first-child {
        width: 30%;
        display: inline-block;
        background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
        padding: 3.3rem 0;
        color: white;
        margin: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: 300;
        min-height: 700px;

        .teamImageNameUniv {
          text-align: center;
          &__img {
            img {
              height: 100px;
              width: auto;
              border-radius: 100%;
            }
          }

          &__name_univ {
            padding-bottom: 2rem;
            p {
              letter-spacing: 0.3px;
              line-height: 160%;
              &:first-child {
                font-size: 3.3rem;
              }

              &:last-child {
                font-size: 1.9rem;
                letter-spacing: 0.5px;
              }
            }
          }
        }
      }

      .flex_child:last-child {
        width: 70%;
        background-color: #fff;

        .info-container {
          padding: 25px 5px;

          .section-header {
            display: flex;
            align-items: center;
            width: 95%;
            margin: auto;
            font-size: 16.5px;
            color: #333;
            border-bottom: 1px solid #ddd;
            padding: 10px 0;
            h4 {
              font-weight: 500;
              font-size: 2rem;
              padding-left: 1.3rem;
              padding-top: 2px;
            }
          }
          .section-body {
            padding: 15px 0;

            &-fields {
              padding-top: 1.3rem;
              width: 90%;
              margin: auto;

              &-submit {
                text-align: center;
              }
            }

            .row {
              display: flex;
              justify-content: space-between;
              padding: 10px 0;
              margin-left: 45px;
              .field {
                width: 45%;
                white-space: nowrap;

                .field-name {
                  color: gray;
                  font-size: 13.5px;
                }
                .field-value {
                  color: #333;
                  font-size: 16.5px;
                  padding: 5px 0;
                }
              }
            }

            .each-user {
              display: flex;
              width: 90%;
              margin: auto;
              padding: 15px 0;
              .image {
                margin: 0 2px;
                margin-right: 2rem;
              }
              .texts {
                padding: 13.5px 0;
                white-space: nowrap;
                .name {
                  font-size: 16.5px;
                  padding-bottom: 6px;
                }
                .about {
                  color: gray;
                  font-size: 13.5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.tabs {
  color: #424242;
  padding-top: 15px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  .tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12.5px 10px 12.5px 2.5rem;
    margin-bottom: 5px;
    &:hover {
      background: #4242424d;
    }

    &.selected {
      background: #4747474d;
    }
    p {
      font-size: 1.5rem;
      letter-spacing: 0.5px;
      padding-left: 1.8rem;
      color: white;
    }
  }
}
